@charset "UTF-8";
/* CSS Document */
/*
Black: #0D0D0D
Gray: #262626
White: #F2F2F2
Gold: #D99E32
*/
nav {
    margin: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	background-color: #0D0D0D;
	width: 100%;
	position: fixed;
}
.nav {
	list-style-type: none;
	margin: 0;
	padding: 0; 
	overflow: 0;
	top: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	width: 110vw;
	position: fixed;
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	background-color: #0D0D0D;
}
.nav li {
	float: left;
}
.nav li a {
	display: block;
	color: #F2F2F2;
	font-size: larger;
	font-weight:500;
	text-align: center;
	padding: 30px 30px; 
	text-decoration: none;
}
.nav li a:hover:not(.active) {
	color: #F2F2F2;
	text-decoration: underline; /* Use text-decoration instead of border */
    text-decoration-thickness: 2px; /* Adjust the thickness of the underline */
    text-underline-offset: 10px; /* Adjust the distance between text and underline */
}	
.nav .active {
	color: #D99E32;
}
header {
	background-color: #0D0D0D;
    text-align: center;
    padding: 1% 0 0 0;
}
.head-photo {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	top: 0;
	left: 0;
}
h1 {
	font-family: 'Playfair Display', serif;
	color: #D99E32;
}
h2 {
	font-family: 'Playfair Display', serif;
    color: #F2F2F27b;
}
h3 {
	font-family: 'Playfair Display', sans-serif;
	font-weight: 700;
}
p{
	color: #F2F2F2;
	font-family: 'Montserrat', sans-serif;
	line-height: 2em;
	font-size: 1.1rem;
}
body {
	background-color: #0D0D0D; 
    margin: 0;
    padding: 0;
}
img{
	max-width: 100%;
	max-height: 75%;
}
button {
	margin-left: 0%;
	width: 10em;
	padding: 10px 20px;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	background-color: #D99E32;
	color: #0D0D0D;
	border: none;
	border-radius: 5px;
	cursor: pointer; 
}
button:hover {
	color: #0D0D0D;
	background-color: #F2F2F2;
}
.project {
    margin-bottom: 20px;
}


.container {
	display: flex;
	align-items:center;
	justify-content: space-around;
	height: 95vh;
	color: #F2F2F2;
	overflow: hidden;
}
.portfolio-image {
	width: 20rem;
	height: 20rem;
	object-fit: cover;
	object-position: center bottom; 
	display: block;
	border-radius: 50%;
}
.container-right {
	width: 50%;
	text-align: left;
	padding: 30px;
}
.boxes {
	display: flex;
	justify-content: space-around;
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 90%;
}
.box {
    flex: 1;
    margin: 10px;
    overflow: hidden;
    position: relative;
    height: 40em;
}
.box img {
    height: 100%;
    object-fit: cover;
    transition: opacity 0.4s ease;
}
.box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    background-color: rgba(30, 30, 30, 0.4);
    z-index: 1;
    transition: background-color 0.4s ease; 
}
.box:hover::before {
    background-color: rgba(255, 255, 255, 0); 
}
.box h3 {
	color:#F2F2F2;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	font-size: 2em;
	z-index: 2; 
}