@charset "UTF-8";
/* CSS Document */
/*
Black: #0D0D0D
Gray: #262626
White: #F2F2F2
Gold: #D99E32
*/
nav {
    margin: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	background-color: #0D0D0D;
	width: 100%;
	position: fixed;
	z-index: 99;
}
.nav {
	list-style-type: none;
	margin: 0;
	padding: 0; 
	overflow: 0;
	top: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	width: 110vw;
	position: fixed;
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	background-color: #0D0D0D;
}
.nav li {
	float: left;
}
.nav li a {
	display: block;
	color: #F2F2F2;
	font-size: larger;
	font-weight:500;
	text-align: center;
	padding: 30px 30px; 
	text-decoration: none;
}
.nav li a:hover:not(.active) {
	color: #F2F2F2;
	text-decoration: underline; /* Use text-decoration instead of border */
    text-decoration-thickness: 2px; /* Adjust the thickness of the underline */
    text-underline-offset: 10px; /* Adjust the distance between text and underline */
}	
.nav .active {
	color: #D99E32;
}
header {
	background-color: #0D0D0D;
    text-align: center;
    padding: 1% 0 0 0;
}
.head-photo {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	top: 0;
	left: 0;
}
h1 {
	font-family: 'Playfair Display', serif;
	font-size: 2rem;
	color: #F2F2F2;
	text-align: center;
	border:2px;
}
h2 {
	font-family: 'Playfair Display', serif;
    color: #F2F2F27b;
}
h3 {
	font-family: 'Playfair Display', sans-serif;
	font-weight: 700;
	color: #D99E32;
}
p{
	color: #F2F2F2;
	font-family: 'Montserrat', sans-serif;
	line-height: 2em;
	font-size: 1.1rem;
}
body {
	background-color: #0D0D0D; 
    margin: 0;
    padding: 0;
}
section {
	padding: 5% 10%;
}
img{
	max-width: 100%;
	max-height: 75%;
}
button {
	margin-left: 0%;
	width: 10em;
	padding: 10px 20px;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	background-color: #D99E32;
	color: #0D0D0D;
	border: none;
	border-radius: 5px;
	cursor: pointer; 
}
button:hover {
	color: #0D0D0D;
	background-color: #F2F2F2;
}
.project {
    margin-bottom: 20px;
}
.container {
	display: flex;
	align-items:center;
	justify-content: space-around;
	height: 95vh;
	color: #F2F2F2;
	overflow: hidden;
}
.portfolio-image {
	width: 20rem;
	height: 20rem;
	object-fit: cover;
	object-position: center bottom; 
	display: block;
	border-radius: 50%;
}
.container-right {
	width: 50%;
	text-align: left;
	padding: 30px;
}
.boxes {
	display: flex;
	justify-content: space-around;
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 90%;
}
.box {
    flex: 1;
    margin: 10px;
	max-width: 20em;
    overflow: hidden;
    position: relative;
    height: 40em;
}
.box img {
    height: 100%;
    object-fit: cover;
    transition: opacity 0.4s ease;
}
.box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    background-color: rgba(30, 30, 30, 0.4);
    transition: background-color 0.4s ease; 
}
.box:hover::before {
    background-color: rgba(255, 255, 255, 0); 
}
.box h3 {
	color:#F2F2F2;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	font-size: 2em;
}
.about-left{
	color: #D99E32;
	text-align: left;
}
.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    overflow: hidden;
}
.project img {
    width: 40%;
    height: auto;
    max-width: 100%;
    margin-right: 20px; /* Adjust the spacing between image and text */
}
.project1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    overflow: hidden;
}
.project1 img {
    width: 30%;
    height: auto;
    max-width: 100%;
    margin-right: 20px; /* Adjust the spacing between image and text */
}

.project-right {
    flex: 1; /* Take up remaining space */
}

.project a {
    text-decoration: none;	
}

.project h3 {
    margin-bottom: 10px;
	color:#D99E32;
    font-size: 1.5em;
}

.project p {
    margin: 0;
    font-size: 1.2em;
}

#travel-gallery, #food-gallery {
	text-align: center;
	padding: 20px;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.gallery img {
	width: 300px;
	height: 200px;
	object-fit: cover;
	border: 2px solid #D99E32;
	border-radius: 10px;
	transition: transform 0.2s ease-in-out;
}

.gallery img:hover {
	transform: scale(1.1);
}

.contact {
	margin-top: 15%;
	text-align: center;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.contact img {
	width: 100%;
	max-height: 115%;
	object-fit: cover; /* Ensure the image covers the entire section */
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1; /* Move the image behind the text content */
	opacity: 40%;
  }
  
.touch{
	color:#D99E32;
	font-size: 4em;
	letter-spacing:0.05em;
}

.link{
	text-decoration: none;
	color:#F2F2F2;
}
.link:hover{
	color:#D99E32;
	transform: scale(1.01);
}

  